:root {
    --purple-dark: #3A0035;
    --purple-light: #61455E;

    --roboto: "Roboto", sans-serif;
    --satisfy:"Satisfy", cursive;

    --header-height: 100px;
}

.justify-center{
    justify-content: center;
}



.link-btn {
    max-height: 40px;
    height: 100%;
    max-width: 150px;
    background: none;
    border: 1px solid white;
    border-radius: 30px;
    text-wrap: nowrap;
    color: white;
    font-size: 20px;
}



/* Padding */
.padding {
    padding: 25px;
}

.px {
    padding: 0 25px;
}

.py {
    padding: 25px 0;
}

.pl {
    padding-left: 25px;
}

.pr {
    padding-right: 25px;
}

.pt {
    padding-top: 25px;
}

.pb {
    padding-bottom: 25px;
}