li,
.icon-links a,
.logo-container,
.link-btn {
    transition: 0.3s ease;
    cursor: pointer;  
}


li:hover,
.icon-links a:hover,
.logo-container:hover,
.link-btn:hover {
    transform: scale(1.1);
}