@import url('default.css');
@import url('hover.css');



header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(20px);
}

nav {
    z-index: 2;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-height: 80px;
}

ul {
    display: flex;
    gap: 50px; 

}

li {
    color: white;
    list-style: none;    
}

